@model IEnumerable<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Busca Agrupada";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>Busca Agrupada</h2>

@* Barra de busca *@
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Data Minima</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate">Data Maxima</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</nav>

@* Listagem *@
@foreach (var departmentGroup in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Departamento @departmentGroup.Key.Name, Total de vendas = @departmentGroup.Key.TotalSale(minDate, maxDate)</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Vendedor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(itemModel => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
